section#hero
  background-image: url(../img/bg.png)
  .wrapper
    background-color: rgba($black, 0.3)
    padding: 3em 0
    border-radius: 1em
    color: $white
    h1
      font-size: 4em
      text-decoration: underline
      margin: 0
    p
      font-weight: 300
      letter-spacing: 2px
      font-size: 1.2em
    form#search
      width: 100%
      margin: 2.5em 0
      input
        padding: 0.5em
        color: #333
        letter-spacing: 2px
        font-size: 1.5em
        box-sizing: border-box
        border: none
      input[type="text"]
        width: 60%
        @media (max-width: 700px)
          width: 80%
      input[type="submit"]
        width: 23%
        background-color: transparent
        box-shadow: inset 0px 0px 0px 5px $white
        color: $white
        text-transform: uppercase
        letter-spacing: 4px
        transition: all 300ms ease-in-out
        @media (max-width: 700px)
          width: 80%
          margin-top: 0.5em
        &:hover
          background-color: $blue
          box-shadow: none
